nav ul li{
    list-style: devanagari;
    list-style-type:"👰🏿";            
    background-color: yellow;
    list-style-position: inside;
    border: 2px solid black;
    /* list-style-image: url("url here"); */
    /* list-style: disc inside url("here.."); */
    /* list-style: none; */
}