body {
    background-color: black;
    color: white;
}

/* media syntax 
@media not|only mediatype and (expression){
    CSS code;
} */

@media screen and (orientation:landscape){
    body{
        border: 2px solid blue;
    }
}

@media only screen and (max-width: 455px) {
    body {
        background-color: blue;
    }

    .boxes {
        flex-direction: column;
    }
}

.boxes {
    display: flex;
}

.box {
    width: 344px;
    height: 344px;
    background-color: steelblue;
    padding: 3px;
    margin: 3px;
}